<h1> <%= search_result.book_title%> </h1>

<section class="book">
      <p class="title"><% search_result.book_title %></p>
      <p class="author"><%= search_result.book_author %></p>
      <section class="genres">
        <%search_result.book_genre.each do |genre| %>
          <p> <%= genre %> </p>
        <%end  %>
      </section>
</section>
