<h1> <%= search_result.book_title%> </h1>

<section class="book">
      <p class="title"><b><% search_result.book_title %></b></p>
      <p class="author"><%= search_result.book_author %></p>
      <p class="genres"><%= search_result.book_genre %></p>
</section>
